
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Quicksand:wght@300..700&display=swap');
html{
  scroll-behavior:smooth;
}

body{
  background-color: #f0f8ff;
  margin: 0;
  width: 100%;
  display:block;
  cursor: url('media/navigation-clean-24.png') 0 0,auto;
}
header{
  background-color:#e6f2ff;
  padding: 0 40px;         
  height: 80px;            
  display: flex;          
  align-items: center;    
  justify-content:space-between
}


nav ul{
  display: flex;
  list-style-type: none;
  align-items: center;
  gap:30px;
  padding:0;
  margin:0;
}

nav ul li.right{
  margin-left:auto;
}


a.about {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color:#ff6d00;
  transition: transform 0.3s ease;
}

header ul li a {
  display: inline-block;         
  transition: transform 0.3s ease;
}

header ul li a:hover {
  transform: scale(1.1);
  text-decoration: underline;
  color:#ffd500;
  text-decoration-thickness: 1.5px;
  transform: scale(1.2);
}

.right{
  margin-left: auto;
  display: flex;
  gap:30px;
}

.name {
  font-family: "Fredericka the Great", serif;
  font-size: 28px;        
  color: #5a189a;             
  text-decoration: none;  
  cursor: pointer;         
  transition: color 0.3s, transform 0.3s;
}

.name:hover {
  color: #8849b1;             
  display: inline-block; 
  /*text-decoration: underline;*/
  text-decoration-thickness: 1.5px;
  transform: scale(1.2);
}

/*dark-theme*/
#theme-swap{
  background:none;
  border: none;
  align-items: center;
  justify-content: center;
  color: #ff6d00;
}

#theme-swap:hover{
  transition: color 0.3s, transform 0.3s;
  transform: scale(1.2);
  color: #ffd500;
}

body.dark-theme{
  background-color: #5a189a;
  margin: 0;
  width: 100%;
  display:block;
  cursor: url('media/navigation-clean-24.png') 0 0,auto;
}

body.dark-theme header{
  background-color:#3c096c;
}

body.dark-theme .name{
  color:#e0aaff
}

/*projects*/
h1{
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
}

.works-filter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

/*contacts*/
#contacts{
  padding:40px;
}

footer {
  background-color: rgba(0, 0, 0, 0.05);  
  text-align: center;
  padding: 30px 0;                     
  font-size: 14px;
  color: #33333384;
}