@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Quicksand:wght@300..700&family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Fredericka+the+Great&family=Rubik+Vinyl&display=swap');

html{
  scroll-behavior:smooth;
}

body{
  background-color: #f0f8ff;
  margin: 0;
  width: 100%;
  display:block;
  cursor: url('media/navigation-clean-24.png') 0 0,auto;
}

header{
  background-color:#e6f2ff;
  padding: 0 40px;         
  height: 80px;            
  display: flex;          
  align-items: center;    
  justify-content:space-between
}


nav ul{
  display: flex;
  list-style-type: none;
  align-items: center;
  gap:30px;
  padding:0;
  margin:0;
}

nav ul li.right{
  margin-left:auto;
}


a.about {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color:#ff6d00;
  transition: transform 0.3s ease;
}

header ul li a {
  display: inline-block;         
  transition: transform 0.3s ease;
}

header ul li a:hover {
  transform: scale(1.1);
  text-decoration: underline;
  color:#ffd500;
  text-decoration-thickness: 1.5px;
  transform: scale(1.2);
}

.right{
  margin-left: auto;
  display: flex;
  gap:30px;
}

.name {
  font-family: "Fredericka the Great", serif;
  font-size: 2rem;        
  color: #5a189a;             
  text-decoration: none;  
  cursor: pointer;         
  transition: color 0.3s, transform 0.3s;
  font-weight: 500;
}

.name:hover {
  color: #8849b1;             
  display: inline-block; 
  /*text-decoration: underline;*/
  text-decoration-thickness: 1.5px;
  transform: scale(1.2);
}

/*dark-theme*/
#theme-swap{
  background:none;
  border: none;
  align-items: center;
  justify-content: center;
  color: #ff6d00;
}

#theme-swap:hover{
  transition: color 0.3s, transform 0.3s;
  transform: scale(1.2);
  color: #ffd500;
}

body.dark-theme{
  background-color: #5a189a;
  margin: 0;
  width: 100%;
  display:block;
  cursor: url('media/navigation-clean-24.png') 0 0,auto;
}

body.dark-theme header{
  background-color:#3c096c;
}

body.dark-theme .name{
  color:#e0aaff
}

body.dark-theme #video p{
  color:#ff6d00 ;
} 
body.dark-theme #introduction p,
body.dark-theme #myWorks p,
body.dark-theme footer{
  color:#efd9ce
}

body.dark-theme #myWorks h2,
body.dark-theme #myWorks a,
body.dark-theme #contacts{
  color:#f4effa
}

/*Eye section */
#video video{
  margin: 80px 0;            
  width: 50%;                 
  max-width: 900px;         
  border-radius: 10px;     
  display: block;
  margin: 80px auto 40px auto;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15); 
  filter: brightness(90%) contrast(105%);    
}

#video p {
  margin-top: 20px;
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  color: #222;
  text-align: center;
}

.arrow{
  width: 30px;
  transform: rotate(90deg);
  display:block;
  margin:0 auto;

  cursor:pointer;
 
  transition:transform 1s ease;
}

/*introduction*/
#introduction{
  display: flex;
  align-items: center;
}

#pic {
  width: 320px;    
  height: auto;    
  object-fit:cover; 
  float: left;        
  padding: 150px 30px 100px 200px;
}

#introduction p{
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  color: #222;
  text-align: left;
  font-weight: 600;
  padding-left: 100px;
  padding-top: 25px;
  padding-right: 100px;
  padding-bottom: 0;
}

/*My Works Section */

/* cards */
#myWorks {
  padding: 0 50px;
  font-family: "Quicksand", sans-serif;
  display: flex;        
  justify-content: center;
  align-items: flex-start;    
  flex-wrap: wrap;
  gap: 60px;
  max-width:1200px;
  margin: 0 auto;
}

/* for each single card */
#myWorks div {
  min-width: 250px;
  display: flex;
  flex-direction: column; 
  justify-content: flex-end;
  flex: 1;                       
  align-items: center;           
}

#myWorks img:hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* pictures */
#myWorks img {
  width: 100%;
  max-width: 320px;           
  height: 200px;            
  object-fit: cover;         
  display: block;
  border-radius: 10px;
  margin-bottom: 5px;
}

/* my works h2 */
#myWorks h2 {
  text-align: center;
  font-size: 2rem;
  color: #333;
  /*margin-bottom: 10px;*/
  /*margin-top:10px;*/
  transition: color 0.3s;
  flex: 0 0 100%;          
}
#myWorks h2 {
  margin-bottom: 10px;
  flex-basis: 100%;  
}

/*小标题文*/
#myWorks a {
  display: inline-block;      
  text-decoration: none;
  transition: transform 0.3s ease;
  color: #222;
  font-weight: 500;
  margin-top: 5px;
}

#myWorks a:hover {
  transform: scale(1.05);
  color: #55555596;
  text-decoration: underline;
}


/* introduction paragraph */
#myWorks p {
  font-size: 1rem;
  color: #555;
  text-align: left;
}

h3{
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: 1rem;
}


.itemset{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:25px;
  padding: 20px;
}

.itemset img{
 max-width: 40px;
 max-height: 40px;
 object-fit: contain;
}

.itemset img:hover{
  transform: scale(1.2);
  transition: transform 0.3s ease;
}


#viewall {        
  text-align: center;
  color: #00296b;
  font-family: "Crafty Girls", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;                    
  text-decoration: none;  
  cursor: pointer; 
  padding:10px;        
}

body.dark-theme #viewall{
  color:#f4effa
}

#arrowright{
  height: 40px;
  width:40px;
  cursor:pointer;
}

.more:hover{
  transform: scale(1.2);
  transition: color 0.3s, transform 0.3s;
}

.more{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin: 10px;
}



#contacts{
  padding:40px;
}

footer {
  background-color: rgba(0, 0, 0, 0.05);  
  text-align: center;
  padding: 30px 0;                     
  font-size: 14px;
  color: #33333384;
}
